<div class = "jumbotron text-center">
    <h1>NASA Web Application</h1>
    <p class = "lead">
    This website allows you to view and create your very own NASA images collections (from the provided images).
    These collections are updatable and can be made public or private.
    Create an account to be able to access website features.
    If you run into any issues, feel free to contact the system admin at mustafadawoud97@gmail.com
    </p>
    <div>
        <a class = "btn btn-primary" [routerLink] ="['/register']">Register</a> <a class = "btn btn-primary" [routerLink] ="['/login']">Login</a>
    </div>
</div>

<!--<div *ngIf = "notLogin" id = "notLoggedIn">-->
<!--    <h2> NASA Web Application</h2>-->
<!--    <p> This web app shows some pictures</p>-->
<!--    <h3>About</h3>-->
<!--    <p>This website allows you to view and create your very own NASA images collections (from the provided images).-->
<!--    These collections are updatable and can be made public or private.-->
<!--    Create an account to be able to access website features. -->
<!--    If you run into any issues, feel free to contact the system admin at mustafadawoud97@gmail.com</p>-->
<!--</div>-->