<div class = "jumbotron text-center">
    
    <h1>Administrator Settings</h1>
    
    
<table align="center">
    <tr>
        <td >
 <p class = "lead">Security policy</p>
    <input [(ngModel)] = "security" type="text" class = "form-control" />
    <br>
    <input type="submit" (click) = "onSaveSecurity()" class = "btn btn-primary" value="Save"/>

        </td>
        <td>
    <p class = "lead">Privacy policy</p>
    <input [(ngModel)] = "privacy" type="text" class = "form-control"/>
    <br>
    <input type="submit" (click) = "onSavePolicies()" class = "btn btn-primary" value="Save"/>
        </td>
        <td>
    <p class = "lead">Takedown DMCA Policy</p>
    <input [(ngModel)] = "DMCA" type="text" class = "form-control"/> 
    <br>
    <input type="submit" (click) = "onSaveDMCA()" class = "btn btn-primary" value="Save"/>
        </td>
    </tr>
</table>
    
    <br>
    
   
    </div>