<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<table align="center">
<tr><td>
<form (submit)="onCollectionSubmit()">
    <div class="form-control" class="w3-container">
        <input type="text" [(ngModel)]="searchPhoto" name= "searchPhoto" class = "form-control" placeholder = "Search">
        <br/>
         <button (click) = search() >Search</button>
         <br/>
        <p>Title: </p>
        <input type = "text" [(ngModel)]="collectionTitle"  name= "collectionTitle" placeholder="Title" class = "form-control">
        <br/>
            <p>Description: </p>
            <input type = "text" [(ngModel)]="collectionDescrip" name = "collectionDescrip" placeholder="Description" class = "form-control">
            <br/>
            <p>Click the checkbox to make your collection public</p>
            <input type="checkbox" name="isPublic" [(ngModel)]="isPublic">
            {{isPublic}}
            <br/>
            <br/>
            <input type="submit" class="btn btn-primary" value="Submit">
            <br>

        </div>
     
        <br/>
          <br>

</form>


 </td></tr>
 </table>
 

<div class = "row" align="center">
<ul>

<li *ngFor = "let photo of photos" class = image-container>
<!--<a (click) = "addToCollection(photo) "><img src = "{{photo.links[0]['href']}}"></a>-->


<table>
<tr><td>
    
    <h2 align="center">{{photo.data[0]['title']}}</h2>
<img  (click)="fullClick(photo.links[0]['href'])" src = "{{photo.links[0]['href']}}">
</td></tr>
<tr><td>
    <br/>
<button (click) = "addToCollection(photo) ">Add to your collections</button>
<br/>
</td></tr>
</table>



</li>
</ul>
</div>
