<mat-toolbar color="warn"> Delete confirmation </mat-toolbar>


<div class="delete-confirm">
    <mat-toolbar color="primary">You are about to delete the book: "{{collectionTitle}}".</mat-toolbar>
    <mat-toolbar> 
        <mat-toolbar-row>
            <span>{{collectionDescription}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button [routerLink]="['/collection/'+id]" mat-button color="accent"> Go Back </button>
            <button (click)="removeCollection()" mat-raised-button color="warn">  Delete Permanently </button>
          </mat-toolbar-row>
    </mat-toolbar>
</div>
