<mat-toolbar> Add a New Collection </mat-toolbar>

<div class="create-collection-form">
    <a [routerLink]="['/collection']">Back</a>
    <form (submit)="submitAdd()" #myForm="ngForm">
      <mat-input-container class="full-width">
        <input matInput placeholder="Collection Title" [(ngModel)]="title" name="title" required >
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Photographer" [(ngModel)]="photographer" name="photographer" required>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Location" [(ngModel)]="location" name="location" required>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Center" [(ngModel)]="center" name="center" required>
      </mat-input-container>
    
      <table class="full-width" cellspacing="10px;">
          <tr>
            <td>
                <mat-input-container class="full-width">
                    <input matInput [matDatepicker]="date_created" placeholder="Date Created ">
                    <mat-datepicker-toggle matSuffix [for]="date_created"></mat-datepicker-toggle>

                  </mat-input-container>
                  <mat-datepicker #date_created (selectedChanged)="updateDateAdded($event)"></mat-datepicker>
            </td>
          </tr>
      </table>
    
      <div >
          <mat-input-container class="full-width">
              <textarea matInput rows="5" placeholder="Book Description" [(ngModel)]="description" name="description" ></textarea>
            </mat-input-container>
        
      </div>
      
      <mat-input-container class="third-width">
          <input matInput placeholder="Image Url (enter image URL)" [(ngModel)]="href" name="href" required>
      </mat-input-container><br>
      <img src="{{href}}" alt="{{title}}">
      <hr>
      <button mat-raised-button value="submit" [disabled]="!myForm.form.valid"> Create Collection </button>
    </form>
</div>