  <mat-toolbar> All Images </mat-toolbar>
<mat-grid-list cols="1" >
    <mat-grid-tile *ngFor="let collection of allCollection">
        <mat-card class="collectionTitle">
            <mat-card-header>
              <mat-card-title><h4>{{collection.data[0].title}}</h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{collection.links[0].href}}" alt="{{collection.data[0].title}}">

            <mat-card-actions>
                <button mat-button mat-raised-button class="detailsButton" [routerLink]="['/collection-details/'+collection.$key]"> 
              <i class="material-icons">visibility</i> Collection Details</button>
          <button mat-button mat-raised-button class="editButton"  [routerLink]="['/edit-collection/'+collection.$key]"> 
              <i class="material-icons">mode_edit</i> Edit Collection</button>
              
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>