<app-navbar></app-navbar>
<br><br><br>
<div class = "container">
    <ngx-flash-messages></ngx-flash-messages>
    <router-outlet></router-outlet>
</div>

<!--<div>-->
<!--        <h2> NASA Web Application</h2>-->
<!--<p> This web app shows some pictures</p>-->

<!--    <button *ngIf = "!logInBtn" (click) = "lgin()">Log In</button> -->
    
<!--    <div *ngIf = "logInBtn">-->
<!--        <app-login></app-login>-->
<!--    </div>-->
    
<!--    <div *ngIf = "!logInBtn">-->
<!--        <br>-->
<!--        <app-not-logged-in></app-not-logged-in>-->
<!--    </div>-->
    
<!--</div>-->

