<mat-toolbar> Image Details </mat-toolbar>

<div class="details-collection" *ngIf="title">
    <mat-card>
            <mat-card-title>
                    <span class="mat-headline">{{title}}</span>
            </mat-card-title>
            <mat-card-content>
             
                <div class="left">
                        <img src="{{href}}" />
                </div>
                    
                <div class="right">
                    <mat-list>
                            <mat-list-item> <i class="material-icons">person_pin</i> Photographer:&nbsp;&nbsp;<b> {{photographer}}</b> </mat-list-item>
                            <mat-list-item> <i class="material-icons">date_range</i> Date Created:&nbsp;&nbsp;<b> {{date_created}}</b> </mat-list-item>
                            <mat-list-item> <i class="material-icons">room</i> Location:&nbsp;&nbsp;<b> {{location}}</b> </mat-list-item>
                            <mat-list-item> <i class="material-icons">room</i> Center:&nbsp;&nbsp;<b> {{center}}</b> </mat-list-item>

                    </mat-list>
                </div>
                <hr>
                <mat-toolbar>Description</mat-toolbar>
                {{description}}
                <p *ngIf="!description"> No description for this book! </p>
            </mat-card-content>
            <mat-card-actions>
                <button [routerLink]="['/collection']" mat-raised-button> <i class="material-icons">view_module</i> All collections </button>
                <button [routerLink]="['/edit-collection/'+id]"  mat-raised-button class="editButton"> <i class="material-icons">mode_edit</i> Edit </button> 
                <button [routerLink]="['/delete-collection/'+id]" mat-raised-button color="warn"> <i class="material-icons">delete_sweep</i> Delete </button>
            </mat-card-actions>
        </mat-card>
</div>
